container a {
  text-decoration: none;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-control:focus {
  box-shadow: none;
}

::selection {
  background: #0d6efd;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom Scrollbar just in case */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #0d6efd;
}

::-webkit-scrollbar-thumb:hover {
  background: #0d6efd;
}