.customBiLinkButton:hover {
  fill: #0d6efd;
}

.resumePage {
  background-color: #f2f2f2;
  border-color: black;
  justify-content: center;
  align-items: center;
  width: 8.5in;
  height: 11in;
}

.resume {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 8.5in;
  height: 10.6in;
}

.resumeDownloadButton {
  display:block;
  margin-left: auto;
  margin-right: auto;
}