.grid {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows:
    auto
    1fr
    auto;
  gap: 5px;
  height: 100%;
  padding: 10px;
}

header,
footer {
  grid-column: 1 / 4;
}

header {
    align-items: flex-start;
}

#nameText {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: larger;
}